@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model IEnumerable<GeneralStoreMVC.Models.Customer.CustomerIndexModel>

    <h1 class="text-center">All Customers</h1>
    <a href="/customer/create" class="text-primary">Create A Customer</a>

    <table class="table table-stripped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
    <tbody>
        @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.Name</td>
            <td>@customer.Email</td>
            <td> @* Leaving This Blank To Add Action Links for Later *@ </td>
        <td>
             <a asp-action="Edit" asp-route-id="@customer.Id">Edit</a> |
             <a asp-action="Details" asp-route-id="@customer.Id">Details</a> |
             <a asp-action="Delete" asp-route-id="@customer.Id">Delete</a>
        </td>
        </tr>
    }
    </tbody>
    </table>